body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8fc;
}

header {
  padding: 20px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playwrite DK Loopet", cursive;
  color: #825cfe;
  text-align: center;
  font-size: 2.5rem;
}

h1 {
  font-size: 3.5rem;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
}

.galeria figure {
  flex: 1 1 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  background-color: #fff8fc;
}

.galeria figure:not(.featured) {
  aspect-ratio: 1 / 1;
}

.galeria figure:hover {
  transform: scale(1.05);
}

/* === IMAGEN GENERAL === */
.galeria img {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 10px;
}

/* === FIGCAPTION GENERAL === */
.galeria figcaption {
  padding: 8px;
  font-weight: bold;
  color: #825cfe;
  background-color: #fff8fc;
  width: 100%;
  text-align: center;
}

/* === FEATURED === */
.featured {
  width: 90%; /* Ocupar todo el ancho disponible */
  max-width: 1000px; /* Límite para que no se estire indefinidamente */
  aspect-ratio: 3 / 2; /* Mantiene forma horizontal original */
  flex: 1 1 100%;
}

.featured img {
  width: auto;
  max-width: 90%; /* Hace que se vea más grande que las demás */
  height: auto; /* Mantiene proporciones reales */
  object-fit: contain; /* Evita que se recorte */
  display: block;
  margin: 0 auto;
}

.featured figcaption {
  margin-top: 10px;
}

.fifteen img {
  object-fit: contain;
}

footer {
  background-color: #d8fff2;
  color: #825cfe;
  text-align: center;
  padding: 15px; /* Espacio interior */
  margin-top: 30px; /* Separación del contenido anterior */
}
